body, html, * {
  font-family: 'Open Sans', sans-serif; }

@media (max-width: 767px) {
  p {
    font-size: 16px; } }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.bold-text {
  font-weight: 700; }

.mr-0 {
  margin-right: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.mw600 {
  max-width: 600px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    width: 180px;
    float: right; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background: #f5f3f1; }
    .navbar-default .navbar-collapse a, .navbar-default .navbar-form a {
      color: #242886 !important; } }
nav.navbar {
  background: #242886;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  max-width: 100vw; }
  nav.navbar a.navbar-brand {
    padding-top: 5px; }
  nav.navbar li a {
    color: #fff !important;
    padding: 30px 15px 20px 15px; }
    nav.navbar li a.login-nav {
      margin: 24px 10px 10px 10px;
      padding: 4px 10px;
      border: solid 1px;
      border-radius: 4px; }
      nav.navbar li a.login-nav:hover, nav.navbar li a.login-nav:active, nav.navbar li a.login-nav:focus {
        color: #242886 !important;
        background: #fff; }
      @media (max-width: 767px) {
        nav.navbar li a.login-nav {
          width: 65px; } }
  nav.navbar li.active a {
    background: none !important;
    border-bottom: solid 2px; }
  @media (max-width: 767px) {
    nav.navbar li.active a {
      border: none; } }
  nav.navbar img {
    height: 70px;
    width: auto; }
    @media (max-width: 767px) {
      nav.navbar img {
        position: absolute;
        top: 0; } }
  @media (max-width: 767px) {
    nav.navbar {
      background: transparent; }
      nav.navbar .navbar-header {
        background: #242886; } }

.page-section, .trading-partners, .manage-operations, .solutions, .get-start, .key-points, .technology, .register-activate, .login-register, .faq, .faq-ans, .get-in-touch, footer, .page-title, .real-time-reports, .page-intro, .get-start-package, .supply-chain-solutions, .features-benefits, .why-tlp, .solutions360, .bi-platform, .secure-infra, .food-service, .manufacturers, .restaurant-chains, .have-any-queries, .third-party-warehouse, .vison-mission, .services, .faq-section {
  position: relative;
  padding: 50px 0;
  text-align: center; }

.top-banner {
  position: relative;
  background: #242886; }
  .top-banner .item {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-bg.jpg");
    background-size: cover; }
    .top-banner .item.item2 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-bg2.jpg"); }
    .top-banner .item.item3 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider-bg3.jpg"); }
      .top-banner .item.item3 .slider-content h1 {
        text-align: center;
        margin-bottom: 60px;
        font-size: 30px; }
      .top-banner .item.item3 .slider-content .main-title {
        font-size: 22px; }
  .top-banner .slider-content {
    padding-top: 72px;
    min-height: 100vh;
    max-height: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 44px;
    color: #fff; }
    .top-banner .slider-content p {
      font-weight: 300; }
      .top-banner .slider-content p.main-title {
        text-align: center;
        font-size: 26px;
        padding-top: 20px; }
      @media (max-width: 767px) {
        .top-banner .slider-content p {
          font-size: 26px; } }
    @media (max-width: 767px) {
      .top-banner .slider-content {
        min-height: 550px; } }
    .top-banner .slider-content .slider2 {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .top-banner .slider-content .slider2 ul li {
        text-align: left;
        font-size: 18px;
        margin-bottom: 20px; }
      .top-banner .slider-content .slider2 p img {
        margin-bottom: 10px; }
      @media (max-width: 767px) {
        .top-banner .slider-content .slider2 {
          min-height: auto;
          padding-top: 80px; } }
    .top-banner .slider-content.slider2 p {
      font-size: 18px;
      max-width: 610px;
      text-align: center; }
  .top-banner .register-link {
    position: relative;
    font-size: 16px;
    padding: 20px 0;
    background: #242886;
    color: #fff; }
    .top-banner .register-link p {
      margin-bottom: 0;
      font-size: 20px; }
    .top-banner .register-link .cta {
      margin-top: 15px; }
      .top-banner .register-link .cta a {
        background: #dc1031;
        padding: 10px 20px;
        font-weight: 600;
        letter-spacing: 1px; }
    @media (max-width: 767px) {
      .top-banner .register-link {
        padding: 20px 0; }
        .top-banner .register-link .cta {
          margin-top: 20px; } }
  .top-banner a.carousel-control img {
    position: absolute;
    top: calc(50% - 33px); }
    @media (max-width: 767px) {
      .top-banner a.carousel-control img {
        top: calc(50% - 20px);
        right: 8px;
        height: 40px;
        width: auto; } }
  .top-banner a.carousel-control.left img {
    transform: rotate(180deg); }

.cta {
  position: relative;
  margin-top: 40px; }
  .cta a, .cta.no-link {
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: #242886;
    border: none;
    border-radius: 4px;
    box-shadow: none; }
    .cta a:hover, .cta a:active, .cta a:focus, .cta.no-link:hover, .cta.no-link:active, .cta.no-link:focus {
      outline: none;
      text-decoration: none; }

.sub-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px; }

.section-title {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 30px 0; }
  @media (max-width: 767px) {
    .section-title {
      font-size: 24px; } }

.section-content {
  font-size: 16px;
  line-height: 22px; }

.trading-partners, .manage-operations {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/get-start/move-faster-deliver-better.jpg");
  background-size: cover; }
  .trading-partners p, .manage-operations p {
    margin: 0; }
  .trading-partners .item, .manage-operations .item {
    margin: 10px auto;
    max-width: 220px; }
    .trading-partners .item .cta, .manage-operations .item .cta {
      margin: 0 auto; }
    .trading-partners .item img, .manage-operations .item img {
      border-radius: 50%;
      margin: 50px 0;
      height: 150px;
      width: auto; }
    .trading-partners .item:nth-child(3n), .manage-operations .item:nth-child(3n) {
      page-break-after: always; }

.solutions .cta {
  margin: 50px 80px 0 0;
  float: right; }
  @media (max-width: 767px) {
    .solutions .cta {
      width: 100%;
      margin: 0 auto;
      margin-top: 50px; } }
.solutions img {
  width: 100%;
  height: auto; }

.get-start {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/get-start/get-start-bg.jpg");
  background-size: cover; }
  @media (max-width: 767px) {
    .get-start .cta {
      margin-top: 50px; } }

.key-points {
  background: #242886;
  color: #fff; }
  .key-points p.section-title {
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto; }
  .key-points .point {
    max-width: 220px;
    margin: 0 auto; }
    .key-points .point img {
      width: 50px;
      height: auto;
      margin: 40px 0; }
  .key-points .cta {
    margin: 50px 0 0 0; }
    .key-points .cta a {
      font-weight: 700;
      background: #fff;
      color: #242886; }

.technology {
  text-align: left; }
  .technology p.section-title {
    font-weight: 700;
    color: #242886; }
  .technology p.tech-tag {
    font-weight: 300;
    font-size: 20px;
    border-bottom: solid 1px #d9d9d9; }
  @media (max-width: 767px) {
    .technology p:not(.section-title):not(.tech-tag) {
      font-size: 16px; }
    .technology .cta {
      margin-top: 50px; } }

.login-register {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/register-bg.jpg");
  background-size: cover; }
  .login-register form {
    max-width: 320px; }
    .login-register form label {
      text-align: left !important; }
  .login-register input {
    margin-bottom: 20px;
    border-radius: 0; }
  @media (max-width: 767px) {
    .login-register .content {
      padding: 20px 0;
      font-size: 16px; }
    .login-register form {
      max-width: auto; } }

.faq {
  background-image: linear-gradient(to bottom, rgba(37, 57, 116, 0.75), rgba(37, 57, 116, 0.75)), url("../img/faq/faq-bg.jpg");
  background-size: cover;
  color: #fff;
  padding: 100px 0; }

.faq-ans {
  border-bottom: solid 2px #d9d9d9; }
  @media (max-width: 767px) {
    .faq-ans p:not(.sub-title) {
      font-size: 16px; }
    .faq-ans .cta {
      text-align: center;
      margin-top: 50px; } }

.get-in-touch {
  padding: 0; }
  .get-in-touch img {
    width: 100%;
    height: auto; }
  .get-in-touch .contact-form {
    text-align: left;
    padding: 50px 80px; }
    @media (max-width: 767px) {
      .get-in-touch .contact-form {
        padding: 50px 30px;
        font-size: 16px; } }
  .get-in-touch input {
    margin-bottom: 20px;
    width: 80%;
    border-radius: 0; }

footer {
  position: relative;
  background: #242886; }
  footer ul.footer-links {
    text-align: left;
    list-style: none;
    padding-left: 0; }
    footer ul.footer-links li {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 10px; }
      footer ul.footer-links li a {
        color: #fff;
        text-decoration: none; }
        footer ul.footer-links li a:hover, footer ul.footer-links li a:focus, footer ul.footer-links li a:active {
          text-decoration: none;
          outline: none; }
      @media (max-width: 767px) {
        footer ul.footer-links li {
          font-size: 14px; }
          footer ul.footer-links li.sub-title {
            font-size: 16px; } }
  footer .sub-title {
    font-size: 16px;
    font-weight: 700 !important; }
    footer .sub-title img {
      width: 100%;
      height: auto; }
      @media (max-width: 767px) {
        footer .sub-title img {
          width: 180px; } }
  footer .copyright {
    text-align: left;
    color: #fff;
    border-top: solid 1px #fff;
    padding-left: 0;
    padding-top: 10px;
    margin: 50px 0 0 0; }

body.partners .page-title {
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.5), rgba(37, 57, 115, 0.5)), url("../img/partners/partners-bg.jpg");
  background-size: cover; }

.page-title {
  margin-top: 65px;
  color: #fff;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  @media (max-width: 767px) {
    .page-title {
      margin-top: 49px; } }

.real-time-reports {
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/partners/real-time-reports-bg.jpg");
  color: #fff; }

.manage-operations {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/partners/why-telos-bg.jpg"); }
  .manage-operations .item img {
    border-radius: 0;
    width: 60px;
    height: auto; }

.partner-contents {
  position: relative; }
  .partner-contents nav {
    background: #242886; }
    .partner-contents nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      margin-bottom: 0; }
      .partner-contents nav ul li {
        display: inline-block;
        list-style: none; }
        .partner-contents nav ul li a {
          display: block;
          padding: 20px;
          color: #fff;
          text-decoration: none; }
          .partner-contents nav ul li a.active {
            border-bottom: solid 2px #fff; }
    .partner-contents nav.affix {
      top: 72px;
      width: 100%;
      z-index: 99; }
    @media (max-width: 767px) {
      .partner-contents nav {
        display: none; } }
  .partner-contents img {
    padding-top: 20px;
    max-width: 100%;
    height: auto; }
  .partner-contents .content ul li {
    margin-bottom: 30px; }
  .partner-contents .content .section-title {
    text-align: left; }
  .partner-contents .cta {
    margin: 50px auto;
    width: 200px;
    text-align: center; }

.get-start-package {
  background: #242886;
  color: #fff; }
  .get-start-package img {
    max-width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      .get-start-package img {
        max-width: 100%;
        width: 100%; } }
  .get-start-package .cta {
    margin: 40px 0; }
    .get-start-package .cta a {
      background: #fff;
      color: #242886;
      font-weight: 700; }

body.supply-chain .page-title {
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/supply-chain/supply-chain-bg.jpg");
  background-size: cover; }

body.platform .page-title {
  background-image: linear-gradient(to bottom, rgba(17, 20, 29, 0.75), rgba(17, 20, 29, 0.75)), url("../img/platform/platform-bg.jpg");
  background-size: cover; }
body.platform .partner-contents .sub-title {
  text-align: left;
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .supply-chain-solutions img {
    width: 100%;
    height: auto; } }

.features-benefits {
  background: #242886;
  color: #fff;
  text-align: center; }
  .features-benefits .features-benefits-single {
    max-width: 250px;
    margin: 0 auto; }
    .features-benefits .features-benefits-single .number {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 0; }
    .features-benefits .features-benefits-single p:not(.number) {
      margin: 0 auto; }
    @media (max-width: 767px) {
      .features-benefits .features-benefits-single {
        max-width: 100%; } }
  @media (max-width: 767px) {
    .features-benefits .cta {
      margin-top: 40px; } }
  .features-benefits .cta {
    margin-top: 50px; }
    .features-benefits .cta a {
      background: #fff;
      color: #242886;
      font-weight: 700; }

.why-tlp {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/platform/why-tlp.jpg"); }

.solutions360 {
  background: #242886;
  color: #fff; }
  @media (max-width: 767px) {
    .solutions360 img {
      width: 100%;
      height: auto; } }

.bi-platform .sub-title {
  margin: 10px 0; }
.bi-platform img {
  width: 100%;
  height: auto; }
.bi-platform ul li {
  margin-bottom: 20px; }

.secure-infra {
  background: #242886;
  color: #fff; }
  @media (max-width: 767px) {
    .secure-infra img {
      width: 100%;
      height: auto; } }

body.get-started .page-title {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/get-start/get-start-bg.jpg");
  background-size: cover; }
body.get-started .features-benefits .cta {
  margin: 40px 0; }
body.get-started .features-benefits .features-benefits-single p {
  max-width: 100%; }
body.get-started .faq .cta {
  margin: 40px 0; }
  body.get-started .faq .cta a {
    background: #fff;
    color: #242886; }

.food-service {
  background: #fff;
  color: #000; }
  @media (max-width: 767px) {
    .food-service img {
      width: 100%;
      height: auto; } }

.manufacturers {
  background: #fff;
  color: #000; }
  .manufacturers .content {
    height: 515px; }
    .manufacturers .content ul.manufacturers-points {
      list-style: none;
      padding: 0; }
      .manufacturers .content ul.manufacturers-points li {
        padding: 20px 0px 20px 70px;
        background-image: url("../img/get-start/distributor-creat-contract.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: left center; }
        .manufacturers .content ul.manufacturers-points li:nth-child(1) {
          background-image: url("../img/get-start/distributor-setup profile.png"); }
        .manufacturers .content ul.manufacturers-points li:nth-child(2) {
          background-image: url("../img/get-start/distributor-discover.png"); }
        .manufacturers .content ul.manufacturers-points li:nth-child(3) {
          background-image: url("../img/get-start/distributor-create-your-catalogue.png"); }
        .manufacturers .content ul.manufacturers-points li:nth-child(4) {
          background-image: url("../img/get-start/distributor-creat-contract.png"); }
        .manufacturers .content ul.manufacturers-points li:nth-child(5) {
          background-image: url("../img/get-start/distributor-start-trading.png"); }
  @media (max-width: 767px) {
    .manufacturers img {
      width: 100%;
      height: auto; }
    .manufacturers .content {
      height: auto; }
    .manufacturers .cta {
      width: 260px;
      margin: 0 auto;
      margin-top: 40px; }
      .manufacturers .cta a {
        display: inline-block;
        width: auto; } }

.restaurant-chains {
  background: #fff;
  color: #000; }
  .restaurant-chains img {
    width: 100%;
    height: auto; }
  @media (max-width: 767px) {
    .restaurant-chains .cta {
      width: 260px;
      margin: 0 auto;
      margin-top: 40px; }
      .restaurant-chains .cta a {
        display: inline-block;
        width: auto; } }

.have-any-queries {
  background: #fff;
  color: #000; }
  .have-any-queries img {
    height: 100%;
    width: auto; }
  .have-any-queries .content {
    text-align: left;
    height: 380px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .have-any-queries .content p {
      max-width: 300px; }
  @media (max-width: 767px) {
    .have-any-queries .content {
      height: auto; }
      .have-any-queries .content p {
        max-width: 100%; } }

.third-party-warehouse {
  background: #242886;
  color: #fff; }
  .third-party-warehouse img {
    width: 100%;
    height: auto; }
  .third-party-warehouse .cta {
    margin: 40px 0; }
    .third-party-warehouse .cta a {
      background: #fff;
      color: #242886; }
  .third-party-warehouse .content {
    height: 515px; }
  .third-party-warehouse ul li {
    list-style: none;
    margin: 30px 0; }
  @media (max-width: 767px) {
    .third-party-warehouse .cta {
      width: 260px;
      margin: 0 auto;
      margin-top: 40px; }
      .third-party-warehouse .cta a {
        display: inline-block;
        width: auto; }
    .third-party-warehouse .content {
      height: auto;
      text-align: left; } }

body.why-telos .page-title {
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/partners/partners-bg.jpg");
  background-size: cover; }
  body.why-telos .page-title img {
    width: 320px;
    height: auto; }
body.why-telos .features-benefits {
  background: url("../img/why-telos/we-deliver-better-bg.jpg");
  background-size: cover; }

.vison-mission img {
  height: 350px;
  width: auto; }
  .vison-mission img.icon {
    width: 50px;
    height: auto;
    margin-right: 10px; }
  @media (max-width: 767px) {
    .vison-mission img {
      max-width: calc(100% - 30px);
      height: auto; } }
.vison-mission .content {
  font-size: 18px;
  text-align: left;
  line-height: 2;
  padding-left: 20px; }

.services {
  text-align: left;
  background: #242886;
  color: #fff; }
  .services .content {
    max-width: 320px; }
  .services .heading {
    font-size: 24px;
    margin: 20px;
    display: inline-block;
    border-bottom: solid 1px; }
  .services img {
    width: 100%;
    height: auto; }
  .services ul li {
    margin: 30px 0;
    font-size: 16px; }

body.faq-page .page-title {
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/faq/faq-bg.jpg");
  background-size: cover; }
  body.faq-page .page-title.about-us {
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/about-us-bg.jpg"); }
  body.faq-page .page-title.contact-us {
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url("../img/contact-us-bg.jpg"); }

.faq-section {
  text-align: left; }
  .faq-section .panel {
    border: none;
    box-shadow: none; }
  .faq-section .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    padding: 15px 30px; }
  .faq-section .panel-group .panel:nth-child(2n+1) a {
    background: #f5f5f5; }
  .faq-section .panel-default > .panel-heading {
    border: none;
    background: none; }
    .faq-section .panel-default > .panel-heading a {
      position: relative;
      display: block;
      padding: 30px 15px;
      text-decoration: none; }
      .faq-section .panel-default > .panel-heading a:hover, .faq-section .panel-default > .panel-heading a:active, .faq-section .panel-default > .panel-heading a:focus {
        text-decoration: none; }
      .faq-section .panel-default > .panel-heading a:after {
        position: absolute;
        content: "\e113";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        right: 15px; }
      .faq-section .panel-default > .panel-heading a.collapsed:after {
        content: "\e114"; }

.reasons img {
  width: 100%;
  height: auto; }

.supply-chain-solutions {
  position: relative;
  padding: 0; }
  .supply-chain-solutions .single img {
    width: 100%;
    height: auto; }
  .supply-chain-solutions .single .content {
    max-width: 460px;
    text-align: left; }
    .supply-chain-solutions .single .content ul {
      padding-left: 20px; }
      .supply-chain-solutions .single .content ul li {
        font-size: 18px; }
    .supply-chain-solutions .single .content.left {
      margin: 0 0 0 auto; }
  .supply-chain-solutions .single.transportation-section .content p.section-title {
    font-size: 26px !important; }
  .supply-chain-solutions .single#transportation .content {
    margin-top: 50px; }

.aboutus-content {
  position: relative;
  padding-top: 50px; }
  .aboutus-content .section {
    position: relative;
    margin-bottom: 30px; }
    .aboutus-content .section h2 {
      font-size: 22px;
      font-weight: 700; }
    .aboutus-content .section p {
      font-size: 16px; }

/*# sourceMappingURL=main.css.map */
