@import "mixins.scss";
@import "responsive.scss";
body, html, *{
  font-family: 'Open Sans', sans-serif;
}
p{
  @include mobile{
    font-size: 16px;
  }
}
//common class
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.bold-text{
  font-weight: map-get($fw, bold);
}
.mr-0{
  margin-right: 0 !important;
}
.ml-0{
  margin-left: 0 !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.mw600{
  max-width: 600px;
}
//navigation
.navbar-default .navbar-toggle .icon-bar{
  background-color: map-get($color, white);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}
@include mobile{
  .navbar-fixed-top .navbar-collapse{
    max-height: 100%;
    width: 180px;
    float: right;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
    background: #f5f3f1;
    a{
      color: map-get($color, blue)!important;
    }
  }
}
nav.navbar{
  background: map-get($color, blue);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  max-width: 100vw;
  a.navbar-brand{
    padding-top: 5px;
  }
  li a{
    color: map-get($color, white) !important;
    padding:30px 15px 20px 15px;
    &.login-nav{
      margin: 24px 10px 10px 10px;
      padding: 4px 10px;
      border: solid 1px;
      border-radius: 4px;
      &:hover, &:active, &:focus{
        color: map-get($color, blue) !important;
        background: map-get($color, white);
      }
      @include mobile{
        width: 65px;
      }
    }
  }
  li.active{
    a{
      background: none !important;
      border-bottom: solid 2px;
    }
    @include mobile{
      a{
        border: none;
      }
    }
  }
  img{
    height: 70px;
    width: auto;
    @include mobile{
      position: absolute;
      top: 0;
    }
  }
  @include mobile{
    background: transparent;
    .navbar-header{
      background: map-get($color, blue);
    }
  }
}
//landing page
.page-section{
  position: relative;
  padding: 50px 0;
  text-align: center;
}
//home page main slider
.top-banner{
  position: relative;
  background: map-get($color, blue);
  .item{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/slider-bg.jpg');
    background-size: cover;
    &.item2{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/slider-bg2.jpg');
    }
    &.item3{
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/slider-bg3.jpg');
      .slider-content{
        h1{
          text-align: center;
          margin-bottom: 60px;
          font-size: 30px;
        }
        .main-title{
          font-size: 22px;
        }
      }
    }
  }
  .slider-content{
    padding-top: 72px;
    min-height: 100vh;
    max-height: 100%;
    height: 100%;
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    @include flex-align-items(center);
    font-size: 44px;
    color: #fff;
  //  background-color: rgba(0, 0, 0, 0.27);
    p{
      font-weight: map-get($fw, light);
      &.main-title{
        text-align: center;
        font-size: 26px;
        padding-top: 20px;
      }
      @include mobile{
        font-size: 26px;
      }
    }
    @include mobile{
      min-height: 550px;
    }
    .slider2{
      @include flex;
      height: 100%;
      @include flex-direction(column);
      @include flex-justify-content(center);
      @include flex-align-items(center);
      ul li{
        text-align: left;
        font-size: 18px;
        margin-bottom: 20px;
      }
      p img{
        margin-bottom: 10px;
      }
      @include mobile{
        min-height: auto;
        padding-top: 80px;
      }
    }
    &.slider2{
      p{
        font-size: 18px;
        max-width: 610px;
        text-align: center;
      }
    }
  }
  .register-link {
    position: relative;
    font-size: 16px;
    padding: 20px 0;
    background: map-get($color, blue);
    color: map-get($color, white);
    p{
      margin-bottom: 0;
      font-size: 20px;
    }
    .cta{
      margin-top: 15px;
      a{
        background: map-get($color, red);
        padding: 10px 20px;
        font-weight: map-get($fw, semi-bold);
        letter-spacing: 1px;
      }
    }
    @include mobile{
      padding: 20px 0;
      .cta{
        margin-top: 20px;
      }
    }
  }
  a.carousel-control{
    img{
      position: absolute;
      top: calc(50% - 33px);
      @include mobile{
        top: calc(50% - 20px);
        right: 8px;
        height: 40px;
        width: auto;
      }
    }
    &.left{
      img{
        transform: rotate(180deg);
      }
    }
  }
}
.cta{
  position: relative;
  margin-top: 40px;
  a, &.no-link{
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: map-get($color, white);
    background: map-get($color, blue);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    &:hover, &:active, &:focus{
      outline: none;
      text-decoration: none;
    }
  }
}
.sub-title{
  font-size: 22px;
  font-weight: map-get($fw, bold);
  padding-bottom: 10px;
}
.section-title{
  font-size: 30px;
  font-weight: map-get($fw, regular);
  margin: 0;
  padding: 10px 0 30px 0;
  @include mobile{
    font-size: 24px;
  }
}
.section-content{
  font-size: 16px;
  line-height: 22px;
}
.trading-partners{
  @extend .page-section;
  color: map-get($color, white);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/get-start/move-faster-deliver-better.jpg');
  background-size: cover;
  p{
    margin: 0;
  }
  .item{
    margin: 10px auto;
    max-width: 220px;
    .cta{
      margin: 0 auto;
    }
    img{
      border-radius: 50%;
      margin: 50px 0;
      height: 150px;
      width: auto;
    }
    &:nth-child(3n) {
      page-break-after: always;
    }
  }

}
.solutions{
  @extend .page-section;
  .cta{
    margin: 50px 80px 0 0;
    float: right;
    @include mobile{
      width: 100%;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
.get-start{
  @extend .page-section;
  color: map-get($color, white);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/get-start/get-start-bg.jpg');
  background-size: cover;
  @include mobile{
    .cta{
      margin-top: 50px;
    }
  }
}
.key-points{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  p.section-title{
    font-weight: map-get($fw, light);
    max-width: 800px;
    margin: 0 auto;
  }
  .point {
    max-width: 220px;
    margin: 0 auto;
    img{
      width: 50px;
      height: auto;
      margin: 40px 0;
    }
  }
  .cta{
    margin: 50px 0 0 0;
    a{
      font-weight: map-get($fw, bold);
      background: map-get($color, white);
      color: map-get($color, blue);
    }
  }
}
.technology{
  @extend .page-section;
  text-align: left;
  p{
    &.section-title{
      font-weight: map-get($fw, bold);
      color: map-get($color, blue);
    }
    &.tech-tag{
      font-weight: map-get($fw, light);
      font-size: 20px;
      border-bottom: solid 1px #d9d9d9;
    }
  }
  @include mobile{
    p:not(.section-title):not(.tech-tag){
      font-size: 16px;
    }
    .cta{
      margin-top: 50px;
    }
  }
}
.register-activate{
  @extend .page-section;
}
.login-register{
  @extend .page-section;
  color: map-get($color, white);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/register-bg.jpg');
  //background-image: url('../img/register-bg.jpg');
  background-size: cover;
  form
  {
    max-width: 320px;
    label{
      text-align: left !important;
    }
  }
  input{
    margin-bottom: 20px;
    border-radius: 0;
  }
  @include mobile{
    .content {
      padding: 20px 0;
      font-size: 16px;
    }
    form{
      max-width: auto;
    }
  }
}
.faq{
  @extend .page-section;
  //background-image: url('../img/faq/faq-bg.jpg');
  background-image: linear-gradient(to bottom, rgba(37, 57, 116, 0.75), rgba(37, 57, 116, 0.75)), url('../img/faq/faq-bg.jpg');
  background-size: cover;
  color: map-get($color, white);
  padding: 100px 0;
}
.faq-ans{
  @extend .page-section;
  border-bottom: solid 2px #d9d9d9;
  @include mobile{
    p:not(.sub-title){
      font-size: 16px;
    }
    .cta{
      text-align: center;
      margin-top: 50px;
    }
  }
}
.get-in-touch{
  @extend .page-section;
  padding: 0;
  img{
    width: 100%;
    height: auto;
  }
  .contact-form{
    text-align: left;
    padding: 50px 80px;
    @include mobile{
      padding: 50px 30px;
      font-size: 16px;
    }
  }
  input{
    margin-bottom: 20px;
    width: 80%;
    border-radius: 0;
  }
}
footer{
  @extend .page-section;
  position: relative;
  background: map-get($color, blue);
  ul.footer-links{
    text-align: left;
    list-style: none;
    padding-left: 0;
    li{
      font-size: 12px;
      font-weight: map-get($fw, regular);
      color: map-get($color, white);
      margin-bottom: 10px;
      a{
        color: map-get($color, white);
        text-decoration: none;
        &:hover, &:focus, &:active{
          text-decoration: none;
          outline: none;
        }
      }
      @include mobile{
        font-size: 14px;
        &.sub-title{
          font-size: 16px;
        }
      }
    }
  }
  .sub-title{
    font-size: 16px;
    font-weight: map-get($fw, bold) !important;
    img{
      width: 100%;
      height: auto;
      @include mobile{
        width: 180px;
      }
    }
  }
  .copyright{
    text-align: left;
    color: map-get($color, white);
    border-top: solid 1px map-get($color, white);
    padding-left: 0;
    padding-top: 10px;
    margin: 50px 0 0 0;
  }
}

// partners page
body.partners{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.5), rgba(37, 57, 115, 0.5)), url('../img/partners/partners-bg.jpg');
    background-size: cover;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/platform/platform-bg.jpg');
  }
}
.page-title{
  @extend .page-section;
  margin-top: 65px;
  color: map-get($color, white);
  height: 400px;
  @include flex;
  @include flex-justify-content(center);
  @include flex-align-items(center);
  @include mobile{
    margin-top: 49px;
  }
}
.real-time-reports{
  @extend .page-section;
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/partners/real-time-reports-bg.jpg');
  color: map-get($color, white);
}
.page-intro{
  @extend .page-section;
}

.manage-operations{
  @extend .trading-partners;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/partners/why-telos-bg.jpg');
  .item{
    img{
      border-radius: 0;
      width: 60px;
      height: auto;
    }
  }
}
.partner-contents{
  position: relative;
  nav{
    background: map-get($color, blue);
    ul {
      @include flex;
      @include flex-justify-content(space-around);
      margin-bottom: 0;
      li{
        display: inline-block;
        list-style: none;
        a{
          display: block;
          padding: 20px;
          color: map-get($color, white);
          text-decoration: none;
          &.active{
            border-bottom: solid 2px map-get($color, white);
          }
        }
      }
    }
    &.affix{
      top: 72px;
      width: 100%;
      z-index: 99;
    }
    @include mobile{
      display: none;
    }
  }
  img{
    padding-top: 20px;
    max-width: 100%;
    height: auto;
  }
  .content{
  //  padding-right: 60px;
    ul li{
      margin-bottom: 30px;
    }
    .section-title{
      text-align: left;
    }
  }

  .cta{
    margin: 50px auto;
    width: 200px;
    text-align: center;
  }
}
// supply chain page
.get-start-package{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  img{
    max-width: 100%;
    height: auto;
    @include mobile{
      max-width: 100%;
      width: 100%;
    }
  }
  .cta{
    margin: 40px 0;
    a{
      background: map-get($color, white);
      color: map-get($color, blue);
      font-weight: map-get($fw, bold);
    }
  }
}
// platform page
body.supply-chain{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/supply-chain/supply-chain-bg.jpg');
    background-size: cover;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/platform/platform-bg.jpg');
  }
}
// platform page
body.platform{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(17, 20, 29, 0.75), rgba(17, 20, 29, 0.75)), url('../img/platform/platform-bg.jpg');
    background-size: cover;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/platform/platform-bg.jpg');
  }
  .partner-contents{
    .sub-title{
      text-align: left;
      margin-bottom: 20px;
    }
  }
}
.supply-chain-solutions{
  @extend .page-section;
  @include mobile{
    img{
      width: 100%;
      height: auto;
    }
  }
}
.features-benefits{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  text-align: center;
  .features-benefits-single {
    max-width: 250px;
    margin: 0 auto;
    .number{
      font-weight: map-get($fw, bold);
      font-size: 20px;
      margin-bottom: 0;
    }
    p:not(.number){
    //  max-width: 130px;
      margin: 0 auto;
    }
    @include mobile{
      max-width: 100%;
    }
  }
  @include mobile{
    .cta{
      margin-top: 40px;
    }
  }
  .cta{
    margin-top: 50px;
    a{
      background: map-get($color, white);
      color: map-get($color, blue);
      font-weight: map-get($fw, bold);
    }
  }
}
.why-tlp{
  @extend .page-section;
  color: map-get($color, white);
  background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/platform/why-tlp.jpg');
}
.solutions360{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  @include mobile{
    img{
      width: 100%;
      height: auto;
    }
  }
}
.bi-platform{
  @extend .page-section;
  .sub-title{
    margin: 10px 0;
  }
  img{
    width: 100%;
    height: auto;
  }
  ul li{
    margin-bottom: 20px;
  }
}
.secure-infra{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  @include mobile{
    img{
      width: 100%;
      height: auto;
    }
  }
}
// get start page
body.get-started{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/get-start/get-start-bg.jpg');
  //  background-image:url('../img/get-start/get-start-bg.jpg');
    background-size: cover;
  }
  .features-benefits{
    .cta{
      margin: 40px 0;
    }
    .features-benefits-single p{
      max-width: 100%;
    }
  }
  .faq{
    .cta{
      margin: 40px 0;
      a{
        background: map-get($color, white);
        color: map-get($color, blue);
      }
    }
  }
}
.food-service{
  @extend .page-section;
  background: map-get($color, white);
  color: map-get($color, black);
  @include mobile{
    img{
      width: 100%;
      height: auto;
    }
  }
}
.manufacturers{
  @extend .page-section;
  background: map-get($color, white);
  color: map-get($color, black);
  .content{
    height: 515px;
    ul.manufacturers-points{
      list-style: none;
      padding: 0;
      li{
        padding: 20px 0px 20px 70px;
        background-image: url('../img/get-start/distributor-creat-contract.png');
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: left center;
        &:nth-child(1){
          background-image: url('../img/get-start/distributor-setup profile.png');
        }
        &:nth-child(2){
          background-image: url('../img/get-start/distributor-discover.png');
        }
        &:nth-child(3){
          background-image: url('../img/get-start/distributor-create-your-catalogue.png');
        }
        &:nth-child(4){
          background-image: url('../img/get-start/distributor-creat-contract.png');
        }
        &:nth-child(5){
          background-image: url('../img/get-start/distributor-start-trading.png');
        }
      }
    }
  }
  @include mobile{
    img{
      width: 100%;
      height: auto;
    }
    .content{
      height: auto;
    }
    .cta{
      width: 260px;
      margin: 0 auto;
      margin-top: 40px;
      a{
        display: inline-block;
        width: auto;
      }
    }
  }
}
.restaurant-chains{
  @extend .page-section;
  background: map-get($color, white);
  color: map-get($color, black);
  img{
    width: 100%;
    height: auto;
  }
  @include mobile{
    .cta{
      width: 260px;
      margin: 0 auto;
      margin-top: 40px;
      a{
        display: inline-block;
        width: auto;
      }
    }
  }
}
.have-any-queries{
  @extend .page-section;
  background: map-get($color, white);
  color: map-get($color, black);
  img{
    height: 100%;
    width: auto;
  }
  .content{
    text-align: left;
    height: 380px;
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(space-around);
    p{
      max-width: 300px;
    }
  }
  @include mobile{
    .content{
      height: auto;
      p{
        max-width: 100%;
      }
    }
  }
}
.third-party-warehouse{
  @extend .page-section;
  background: map-get($color, blue);
  color: map-get($color, white);
  img{
    width: 100%;
    height: auto;
  }
  .cta{
    margin: 40px 0;
    a{
      background: map-get($color, white);
      color: map-get($color, blue);
    }
  }
  .content{
    height: 515px;
  }
  ul li{
    list-style: none;
    margin: 30px 0;
  }
  @include mobile{
    .cta{
      width: 260px;
      margin: 0 auto;
      margin-top: 40px;
      a{
        display: inline-block;
        width: auto;
      }
    }
    .content{
      height: auto;
      text-align: left;
    }
  }
}
// why-telos page
body.why-telos{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/partners/partners-bg.jpg');
    background-size: cover;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/platform/platform-bg.jpg');
    img{
      width: 320px;
      height: auto;
    }
  }
  .features-benefits{
    background: url('../img/why-telos/we-deliver-better-bg.jpg');
    background-size: cover;
  }
}
.vison-mission{
  @extend .page-section;
  img{
    height: 350px;
    width: auto;
    &.icon{
      width: 50px;
      height: auto;
      margin-right: 10px;
    }
    @include mobile{
      max-width: calc(100% - 30px);
      height: auto;
    }
  }
  .content{
    font-size: 18px;
    text-align: left;
    line-height: 2;
    padding-left: 20px;
  }
}
.services{
  @extend .page-section;
  text-align: left;
  background: map-get($color, blue);
  color: map-get($color, white);
  .content{
    max-width: 320px;
  }
  .heading {
    font-size: 24px;
    margin: 20px;
    display: inline-block;
    border-bottom: solid 1px;
  }
  img{
    width: 100%;
    height: auto;
  }
  ul li{
    margin: 30px 0;
    font-size: 16px;
  }
}
// faq page
body.faq-page{
  .page-title{
    background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/faq/faq-bg.jpg');
    background-size: cover;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/platform/platform-bg.jpg');
    &.about-us{
      background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/about-us-bg.jpg');
    }
    &.contact-us{
      background-image: linear-gradient(to bottom, rgba(37, 57, 115, 0.75), rgba(37, 57, 115, 0.75)), url('../img/contact-us-bg.jpg');
    }
  }
}
.faq-section{
  @extend .page-section;
  text-align: left;
  .panel{
    border: none;
    box-shadow: none;
  }
  .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border: none;
    padding: 15px 30px;
  }
  .panel-group{
    .panel:nth-child(2n+1){
      a{
        background: #f5f5f5;
      }
    }
  }
  .panel-default>.panel-heading{
    border: none;
    background: none;
    a{
      position: relative;
      display: block;
      padding: 30px 15px;
      text-decoration: none;
      &:hover, &:active, &:focus{
        text-decoration: none;
      }
      &:after{
        position: absolute;
        content: "\e113";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        right: 15px;
      }
      &.collapsed{
        &:after{
          content: "\e114";
        }
      }
    }
  }
}
.reasons{
  img{
    width: 100%;
    height: auto;
  }
}

// supply-chain-solutions
.supply-chain-solutions{
  position: relative;
  padding: 0;
  .single{
    img{
      width: 100%;
      height: auto;
    }
    .content{
      max-width: 460px;
      text-align: left;
      ul{
        padding-left: 20px;
        li{
          font-size: 18px;
        }
      }
      &.left{
        margin: 0 0 0 auto;
      }
    }
    &.transportation-section{
      .content p.section-title{
        font-size: 26px !important;
      }
    }
    &#transportation{
      .content{
        margin-top: 50px;
      }
    }
  }
}

.aboutus-content{
  position: relative;
  padding-top: 50px;
  .section {
    position: relative;
    margin-bottom: 30px;
    h2{
      font-size: 22px;
      font-weight: 700;
    }
    p{
      font-size: 16px;
    }
  }
}
