//variables
// colors
$color: (
  blue : #242886,
  white : #fff,
  red : #dc1031,
  black : #000,
);
// font-weight
$fw: (
  light     : 300,
  regular   : 400,
  semi-bold : 600,
  bold      : 700,
  extra-bold: 800
);
// mixins
// flex box all brower support
@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-align-items($position) {
  -webkit-box-align: $position;
  -webkit-flex-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}
@mixin flex-align-content($position) {
  -webkit-box-align: $position;
  -webkit-flex-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}
@mixin flex-justify-content($position) {
  -webkit-justify-content: $position;
  justify-content: $position;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}
